@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/TlwgTypist/TlwgTypist.css';
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap);

body {
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #4b5a71;
}

.center {
  text-align: center;
}

button, optgroup, option, option, #melody, code, input, select {
  font-family: 'Tlwg Typist', monospace;
  font-size: 15px;
  border: 2px solid blue;
  }

.setting {
  font-size: 16px;
}

.load-file {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border: 2px solid yellow;
  font-size: 18px;
}

.load-file-content {
  font-family: 'Tlwg Typist', monospace;
  font-size: 20px;
  background-color: #4b5a71;
  margin: 30px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 18px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a {
  font-size: 30px;
  color: aqua;
}
pre, textarea {
  font-family: 'Tlwg Typist', monospace;
  font-size: 18px;
  width: 100%;
  max-width: 900px;
}

@media all and (max-width: 1080px) {

  textarea,
  pre {
    font-family: 'Tlwg Typist', monospace;
    font-size: 26px;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#status {
  font-family: 'Tlwg Typist', monospace;
  font-size: 14px;
}

.small {
  font-size: 14px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div {
  margin: 2px;
  width: 80%;
}

.setting > select {
  width: 100%;
}