@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/TlwgTypist/TlwgTypist.css';
/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: black;
  background-color: white;
  padding-top: 10px;
}

.center {
  text-align: center;
}

.btn {
  font-family: 'Tlwg Typist', monospace;
  }


pre, textarea {
  font-family: 'Tlwg Typist', monospace;
  font-size: 18px;
  width: 100%;
  max-width: 900px;
  /* background-color: lightgray; */
}

@media all and (max-width: 1080px) {

  textarea,
  pre {
    font-family: 'Tlwg Typist', monospace;
    font-size: 14px;
  }
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
