@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/Anuphan/Anuphan.css');
@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/K2D/K2D.css');

body, h4 {
  font-family: 'K2D', sans-serif;
}

h3 {
  font-family: 'Anuphan', sans-serif;
  font-size: 25px;
}

a, button {
  font-family: 'K2D', sans-serif;
}

table, td, tr {
  font-size: 16px;
  position: relative;
  max-width: 800px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid black;
  border-collapse: collapse;
}

button {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #f44336
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
